<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
    var orgObject = {

  "Organization": {
    "Administration": ["State House - Hqtrs",
"State House Operations - President",
"State House Operations - Vice President",
"Office Of The Chief Of Staff To The President",
"Office Of The Chief Security Officer To The President",
"State House Medical Centre",
"State House Lagos Liaison Office",
"Office Of The Special Adviser, Senior Special Assistants, And Special Assistants To The President",
"Office Of The Special Adviser To The President On Niger Delta",
"Office Of The Special Adviser To The President On National Assembly Matters (Ossap - Nass)",
"National Boundary Commission",
"Border Communities Development Agency",
"Office Of The Senior Special Assistant To The President - Mdgs (Ossap-Mdgs)",
"Nipss, Kuru",
"Bureau Of Public Enterprises (Bpe)",
"National Emergency Management Agency (Nema)",
"Economic And Financial Crimes Commission (Efcc)",
"Nigerian Financial Intelligence Unit (Nfiu)",
"Bureau Of Public Procurement (Bpp)",
"Nigeria Extractive Industries Transparency Initiative (Neiti)",
"Political Affairs Office",
"Affairs Of Former Heads Of State",
"Economic Affairs Office",
"Cabinet Secretariat",
"Special Services Office",
"Ecological Fund Office",
"Pension Area Office",
"Nigeria Atomic Energy Commission & Its Centres",
"Centre For Energy Research & Development, Oau, Ile-Ife",
"Centre For Energy Research And Training, Abu, Zaria",
"Office Of The Chief Economic Adviser To The President",
"Nigeria Investment Promotion Council",
"National Agricultural Land Development Authority (Nalda)",
"Nass Management",
"Senate",
"House Of Representatives",
"National Assembly Commission",
"Legislative Aides",
"Senate Committee On Public Accounts",
"House Committee On Public Accounts",
"General Service Office",
"National Institute For Legislative Studies (Nils)",
"Ministry Of Defence - Mod Hqtrs",
"Defence Headqurters",
"Defence Research And Development Bureau",
"Nigerian Army",
"Nigerian Army University Biu (Naub)",
"Nigerian Navy",
"Nigerian Airforce",
"Airforce Institute Of Technology, Kaduna",
"Nigerian Defence Academy (Nda)",
"Nigerian Defence College",
"Command And Staff College, Jaji",
"Nigerian Armed Forces Resettlement Centre, Lagos",
"Defence Industries Corporation Of Nigeria (Dicon)",
"Defence Intelligence School",
"Defence Intelligence Agency",
"Presidential Committee On Barracks Rehabilitation",
"Military Missons",
"Addis Ababa",
"China",
"Cotonou",
"Accra",
"Harare",
"London",
"Malabo",
"Moscow",
"Ndjamena",
"New Delhi",
"New York",
"Pakistan",
"Paris",
"South Africa",
"Washington Dc",
"Yaounde",
"Defence Missions",
"Directorate Of Military Pensions",
"Guards Brigade",
"Defence Space Administartion",
"Defence Space Agency",
"Military Pension Board",
"Training And Doctrine Command Nigerian Army",
"Ministry Of Foreign Affairs - Hqtrs",
"Nigerians In Diaspora Commission (Nidc)",
"Technical Aids Corps",
"Foreign Service Academy (Fsa)",
"Directorate Of Pilgrims Affairs (Muslim)",
"Directorate Of Pilgrims Affairs (Christian)",
"Institute For Peace And Conflict Resolution",
"Directorate Of Technical Coop. In Africa",
"Nigerian Institute Of International Affairs, Lagos",
"Foreign Mission: Abidjan",
"Foreign Mission: Accra",
"Foreign Mission: Addis Ababa",
"Foreign Mission: Algiers",
"Foreign Mission: Ankara",
"Foreign Mission: Athens",
"Foreign Mission: Atlanta",
"Foreign Mission: Baghdad",
"Foreign Mission: Bamako",
"Foreign Mission: Bangkok",
"Foreign Mission: Bangui",
"Foreign Mission: Banjul",
"Foreign Mission: Bata",
"Foreign Mission: Beijing",
"Foreign Mission: Beirut",
"Foreign Mission: Berlin",
"Foreign Mission: Berne",
"Foreign Mission: Bissau",
"Foreign Mission: Brasilia",
"Foreign Mission: Brazaville",
"Foreign Mission: Brussels",
"Foreign Mission: Bucharest",
"Foreign Mission: Budapest",
"Foreign Mission: Buea",
"Foreign Mission: Buenos Aires",
"Foreign Mission: Bujumbura",
"Foreign Mission: Cairo",
"Foreign Mission: Canberra",
"Foreign Mission: Caracas",
"Foreign Mission: Conakry",
"Foreign Mission: Cotonou",
"Foreign Mission: Dakar",
"Foreign Mission: Damascus",
"Foreign Mission: Dar-Es-Salaam",
"Foreign Mission: Douala",
"Foreign Mission: Dubai Trade Missions",
"Foreign Mission: Dublin",
"Foreign Mission: Freetown",
"Foreign Mission: Gaborone",
"Foreign Mission: Geneva",
"Foreign Mission: Hajj Mission Jeddah",
"Foreign Mission: Hanoi",
"Foreign Mission: Harare",
"Foreign Mission: Havana",
"Foreign Mission: Hongkong",
"Foreign Mission: Islamabad",
"Foreign Mission: Jakarta",
"Foreign Mission: Jeddah",
"Foreign Mission: Johannesburg",
"Foreign Mission: Kampala",
"Foreign Mission: Khartoum",
"Foreign Mission: Kiev",
"Foreign Mission: Kigali Rwanda",
"Foreign Mission: Kingston",
"Foreign Mission: Kinshasa",
"Foreign Mission: Kuala Lumpur",
"Foreign Mission: Kuwait",
"Foreign Mission: Libreville",
"Foreign Mission: Lisbon",
"Foreign Mission: Lome",
"Foreign Mission: London",
"Foreign Mission: Luanda",
"Foreign Mission: Lusaka",
"Foreign Mission: Madrid",
"Foreign Mission: Malabo",
"Foreign Mission: Manilla",
"Foreign Mission: Maputo",
"Foreign Mission: Mexico City",
"Foreign Mission: Monrovia",
"Foreign Mission: Moscow",
"Foreign Mission: Nairobi",
"Foreign Mission: N'djamena",
"Foreign Mission: Nepad Mission - Pretoria",
"Foreign Mission: New Delhi",
"Foreign Mission: New York (Cg)",
"Foreign Mission: New York (Pm)",
"Foreign Mission: Niamey",
"Foreign Mission: Nnjc - Niamey",
"Foreign Mission: Nouakchott",
"Foreign Mission: Ottawa",
"Foreign Mission: Ouagadougou",
"Foreign Mission: Paris",
"Foreign Mission: Port Of Spain",
"Foreign Mission: Pretoria",
"Foreign Mission: Pyong Yang",
"Foreign Mission: Rabat",
"Foreign Mission: Riyadh",
"Foreign Mission: Rome",
"Foreign Mission: San-Francisco (Consulate)",
"Foreign Mission: Santiago",
"Foreign Mission: Sao Tome",
"Foreign Mission: Seoul",
"Foreign Mission: Shanghai",
"Foreign Mission: Singapore",
"Foreign Mission: Stockholm",
"Foreign Mission: Tehran",
"Foreign Mission: Tel Aviv",
"Foreign Mission: Tel Aviv Christian Pilgrims (Mission)",
"Foreign Mission: The Hague",
"Foreign Mission: Tokyo",
"Foreign Mission: Tripoli",
"Foreign Mission: Tunis",
"Foreign Mission: Vienna",
"Foreign Mission: Warsaw",
"Foreign Mission: Washington",
"Foreign Mission: Windhoek",
"Foreign Mission: Yaounde",
"Permanent Mission, Asacof , Caracas",
"Foreign Mission, Juba, South Sudan",
"Foreign Missions, Abu Dhab",
"Foreign Mission Lilongwe, Malawi",
"Foreign Mission Belgrade, Serbia",
"Foregn Mission Frankfort",
"Foreign Mission Istanbul",
"Foreign Mission Praque, Czech Republic",
"Foreign Mission Vatican",
"Consolate General, Sau Paulo, Brazil",
"Consolate General Frankfurt, Germany",
"Foreign Mission Colombo, Sri-Lanka",
"Foreign Mission Doha, Qatar",
"Permanent Mission D-8 Secretariat, Istabul, Turkey",
"Permanent Representation, Ecowas, Abuja",
"Foreign Mission Amman, Jordan",
"Foreign Mission Guangzhou, China",
"Consular Mission Maroua, Cameroon",
"Federal Ministry Of Information & Culture - Hqtrs",
"Information Sector",
"Nigerian Television Authority",
"Federal Radio Corporation Of Nigeria",
"News Agency Of Nigeria",
"Voice Of Nigeria",
"Nigerian Film Corporation",
"National Broadcasting Commision",
"Nigeria Press Council",
"National Film And Vedio Censor Board",
"Advertising Practioners Of Nigeria",
"Federal Govt. Press",
"National Film Institute",
"National Film Archives",
"Nigeria Institute Of Public Relations",
"Nigeria Telecommunication",
"Apcon",
"Nigerian Tourism Development Corporation",
"National Commission For Museums And Monuments",
"National Council Of Arts And Culture",
"Centre For Black African Arts And Civilisation",
"National Troupe Of Nigeria",
"National Theatre",
"National Gallery Of Art",
"National War Museum - Umuahia",
"National Institute Of Hospitality And Tourism Development Studies",
"National Institute For Culture Orientation",
"Institute Of Archeology And Museum Studies, Jos",
"National Orientation Agency",
"Ministry Of Interior - Hqtrs",
"Nigeria Correctional Service",
"Nigeria Immigration Service",
"Nigeria Security And Civil Defence Corps",
"Civil Defence, Immigration And Prison Service Board (Cipb)",
"Custom, Immigration, Prison Pension Office (Cippo)",
"Federal Fire Service",
"Police Pension Board",
"Nigeria Police Academy Wudil, Kano",
"Police Formation & Command Hqtrs",
"Kano State Police Command And Formation",
"Katsina State Police Command And Formation",
"Jigawa State Police Command And Formation",
"Lagos State Command And Formation",
"Lagos State Police Command And Formation",
"Ogun State Police Command And Formation",
"Adamawa State Command And Formation",
"Gombe State Police Command And Formation",
"Taraba State Police Command And Formation",
"Benue State Police Command And Formation",
"Plateau State Police Command And Formation",
"Enugu State Police Command And Formation",
"Sokoto State Police Command And Formation",
"Zamfara State Police Command And Formation",
"Kebbi State Police Command And Formation",
"Oyo Police Command And Formation",
"Osun State Police Command And Formation",
"Nasarawa State Police Command",
"Edo State Police Command And Formationtion",
"Delta State Police Command And Formation",
"Bayelsa State Police Command And Formation",
"Cross River State Police Command And Formation",
"Akwa Ibom State Police Command And Formation",
"Rivers State Police Command And Formation",
"Ebonyi State Command And Formation",
"Fct State Command And Formation",
"Kaduna State Command And Formation",
"Niger State Command And Formation",
"Kogi State Command And Formation",
"Kwara State Command And Formation",
"Ekiti State Command And Formation",
"Abia State Command And Formation",
"Imo State Command And Formation",
"Anambra State Command And Formation",
"Ondo State Command And Formation",
"Borno State Command And Formation",
"Bauchi State Command And Formation",
"Yobe State Command And Formation",
"Force Hqtrs Annex Command And Formation",
"Police Staff College. Jos",
"Police Academy. Wudil",
"Police College. Ikeja",
"Office Of The Head Of The Civil Service Of The Federation - Hqtrs",
"Special Duties Sgf",
"Federal Govt Staff Housing Loans Board",
"Administrative Staff College Of Nigeria",
"West African Mgt. Devt. Institutes Network",
"Federal Training Centres",
"Federal Training Centre,Enugu",
"Federal Training Centre,Ilorin",
"Federal Training Centre,Kaduna",
"Federal Training Centre,Lagos",
"Federal Training Centre,Maiduguri",
"Federal Training Centre,Calabar",
"Public Service Institute Of Nigeria.",
"Establishment And Pensions Office",
"Bureau Of Public Service Reforms",
"Special Duties & Inter - Governmental Affairs Hqtrs",
"Auditor General For The Federation",
"Public Complaints Commission",
"Federal Civil Service Commission",
"Independent National Electoral Commission",
"Federal Character Commission",
"Federal Ministry Of Police Affairs",
"Nigeria Police Academy Wudil, Kano",
"Police Pension Board",
"Police Formations And Commands",
"Ministry Of Communication Technology Hqtrs",
"National Information Technology Development Agency",
"Nigeria Communication Satellite",
"Nigeria Communication Commission",
"Galaxy Backbone",
"Nipost",
"National Frequency Management Council (Nfmc) Hqtrs",
"National Identity Management Commission",
"National Security Adviser",
"Directorate Of State Security Service",
"National Institute For Security Studies",
"National Intelligence Agency",
"Presidential Air Fleets (State House)",
"Code Of Conduct Tribunal",
"Infrastructure Concession Regulatory Commission",
"Police Service Commission Hqtrs",
"Secretary To The Government Of The Federation Hqtrs",
"North East Intervention Fund",
"Special Duities Sgf",
"Presidential Committee On The North-East Initiative",
"National Poverty Eradication Program (Napep)",
"National Commission For Refugees",
"Lagos Liaison Office",
"National Identity Management Commission",
"National Merit Award",
"Federal Road Safety Commission",
"Presidential Advisory Committee",
"New Partnership For African Development",
"Utilities Charges Commission",
"National Economic Intelligence Committee",
"National Agency For The Control Of Aids (Naca)",
"National Pension Commission",
"National Hajj Commission Of Nigeria",
"Nigeria Christian Pilgrim Commission",
"National Lottery Trust Fund",
"National Lottery Regulatory Commission (Nlrc)",
"Servicom",
"Presidential Technical Committee On Land Reforms",
"Bureau Of Public Service Reforms",
"National Boundary Commission (Nbc) Hqtrs",
"Border Communities Development Agency (Bcda) Hqtrs",
"Federal Ministry Of Special Duties Sgf",
"Police Formations And Command",
"Federal Ministry Of Special Duties & Inter - Governmental Affairs Hqtrs",
"National Merit Award",
"National Lottery Trust Fund",
"National Lottery Regulatory Commission"],

/* =====================================================================================================================================*/
    "Economic": ["Federal Ministry Of Agriculture And Rural Development Hqtrs",
"Federal College Of Produce Inspection And Stored Products Technology, Kano",
"Agricultural Research And Management Institute (Armti) - Ilorin",
"National Centre For Agricultural Mechanisation- Ilorin",
"National Cereals Research Institute- Badeggi",
"National Veterinary Research Institute- Vom",
"National Root Crops Research Institute- Umudike",
"National Institute For Oil Palm Research (Nifor) - Benin",
"Institute Of Agricultural Research- Zaria",
"National Animal Product Research Institute- Zaria",
"National Horticultural Research Institute- Ibadan",
"Federal University Of Agriculture, Abeokuta",
"Federal University Of Agriculture, Makurdi",
"Michael Okpara University Of Agriculture, Umudike",
"Federal University Of Agriculture Zuru, Kebbi State",
"National Agricultural Land Development Authority (Nalda) Hqtrs",
"Cocoa Research Institute- Ibadan",
"Institute Of Agricultural Research And Training- Ibadan",
"Rubber Research Institute- Benin",
"National Institute Of Freshwater Fish- New Bussa",
"National Agric. Extension Research Liaison Services- Zaria",
"Veterinary Council Of Nigeria",
"Federal College Of Animal Health And Production Technology - Ibadan",
"Federal College Of Agriculture - Akure",
"Federal College Of Agriculture, Moore Plantation- Ibadan",
"Federal College Of Agriculture - Ishiagu",
"Federal College Of Fresh Water Fisheries Technology - New Bussa",
"Federal College Of Animal Health And Production Technology - Vom",
"College Of Veterinary And Medical Laboratory Technology - Vom",
"Federal College Of Fresh Water Fisheries - Baga",
"Federal College Of Fisheries And Marine Technology - Lagos",
"Federal Co-Operative College- Ibadan",
"Federal Co-Operative College- Kaduna",
"Federal Co-Operative College- Oji River",
"Federal College Of Land Resources Technology - Owerri",
"Federal College Of Land Resources Technology, Kuru - Jos",
"Federal College Of Horticulture, Dadin-Kowa, Gombe",
"National Agricultural Insurance Corporation (Naic)",
"Nigerian Institute Of Animal Science",
"Nigerian Institute Of Soil Science (Niss) Hqtrs",
"Nigeria Stored Products Research, Ilorin",
"National Agriculture Seeds Council",
"National Food Reserve Agency",
"Nigeria Agricultural Quarantine Service",
"Agricultural Research Council Of Nigeria",
"Office Of The Permanent Representative To Fao",
"Lake Chad Research Institute Maiduguri",
"Nigeria Institute Of Oceanography And Marine Research",
"Bank Of Agriculture Boa",
"National Agricultural Land Development Authority (Nalda)",
"Federal Ministry Of Finance, Budget And National Planning - Hqtrs",
"Debt Management Office",
"Budget Office Of The Federation",
"Service Wide Vote",
"National Insurance Commission",
"National Board For Community Banks",
"Investment And Securities Tribunal",
"Office Of The Accountant-General Of The Federation",
"Fpo Abakaliki",
"Fpo Abeokuta",
"Fpo Ado-Ekiti",
"Fpo Akure",
"Fpo Asaba",
"Fpo Awka",
"Fpo Bauchi",
"Fpo Benin",
"Fpo Birni-Kebi",
"Fpo Calabar",
"Fpo Damaturu",
"Fpo Dutse",
"Fpo Enugu",
"Fpo Gombe",
"Fpo Gusua",
"Fpo Ibadan",
"Fpo Ilorin",
"Fpo Jalingo",
"Fpo Jos",
"Fpo Kaduna",
"Fpo Kano",
"Fpo Katsina",
"Fpo Lafia",
"Fpo Lagos I",
"Fpo Lagos Ii",
"Fpo Lokoja",
"Fpo Maiduguri",
"Fpo Makurdi",
"Fpo Minna",
"Fpo Osogbo",
"Fpo Owerri",
"Fpo Port-Harcourt",
"Fpo Sokoto",
"Fpo Umuahia",
"Fpo Uyo",
"Fpo Yenogoa",
"Fpo Yola",
"Sub-Treasurer Of The Federation",
"Federal Treasury Academy Orozo",
"Zonal Office Enugu",
"Zonal Office Ibadan",
"Zonal Office Jos",
"Zonal Office Kaduna",
"Zonal Office Maiduguri",
"Zonal Office Portharcourt",
"Federal Government Treasury",
"Federal Government Of Nigeria Treasury",
"Federal Inland Revenue Services",
"Security And Exchange Commission",
"Central Bank Of Nigeria",
"Nigeria Custom Services",
"Fgn Treasury (Tsa Settlement Centre)",
"National Economy Recovery Fund",
"Asset Management Corporation Of Nigeria",
"Pension Transitional Arrangement Department (Ptad) Hqtrs",
"National Planning Commission",
"Centre For Management Development",
"National Bureau Of Statistics",
"National Bureau Of Statistics",
"Nigeria Institute Of Social And Economic Research",
"Nigerian Bulk Electricity Trading Plc.",
"Federal Treasury Academy Orozo",
"Federal Ministry Of Industry, Trade And Investment - Hqtrs",
"Nigeria Special Economic Zone Company",
"Standard Organization Of Nigeria",
"Centre For Automotive Design And Development",
"National Automotive Design & Development Council (Naddc) Hqtrs",
"Industrial Training Fund",
"Nigerian Export Promotion Council",
"Financial Reporting Council Of Nigeria",
"Nigerian Export Processing Zones Authority",
"Consumer Protection Council",
"Lagos International Trade Fair Complex Management Board",
"Federal Produce Inspection",
"External Trade Sector, Geneva (Wto)",
"Oil And Gas Free Zones Authority, Nigeria (Ogfza)",
"Tafawa Balewa Square Management Board",
"Nigeria Commodity Exchange (Ncx)",
"Nigeria Trade Office, Taiwan",
"Nigeria Trade Office, China",
"Trade Missions Atlanta, Usa",
"Trade Missions Brazil",
"Trade Missions Germany",
"Trade Missions London",
"Trade Missions United Arab Emirates",
"Bacita Sugar",
"Commercial Desk - Geneva",
"Commercial Desk - China",
"Weight And Measure Training Institute",
"Arcedem",
"Nmt",
"National Sugar Development Council",
"Corporate Affairs Commission",
"Smedan - H/Qtrs",
"Smedan - Idc Bauchi",
"Smedan - Idc Benin City",
"Smedan - Idc Enugu",
"Smedan - Idc Kano",
"Smedan - Idc Maiduguri",
"Smedan - Idc Makurdi",
"Smedan - Idc Ogoja",
"Smedan - Idc Owerri",
"Smedan - Idc Uyo",
"Smedan - Idc Yola",
"Smedan - Idc Zaria",
"Smedan - Idc Katsina",
"Smedan -Idc Ilorin",
"Smedan - Idc Ikorodu",
"Smedan - Idc Minna",
"Smedan - Idc Abeokuta",
"Smedan - Idc Akure",
"Smedan - Idc Oshogbo",
"Smedan - Idc Port Harcourt",
"Smedan - Idc Sokoto",
"Smedan - Idc Idu, Abuja",
"Smedan - Idc Jos",
"Smedan - Idc Wukari",
"Smedan - Idc Asaba",
"Smedan - Idc Awka",
"Nigeria Export Import Bank",
"Bank Of Industry",
"Nigerian Investment Promotion Council Hqtrs",
"Nigeria Office For Trade Negotiation (Notn) Abuja",
"Federal Ministry Of Labour And Employment - Hqtrs",
"Industrial Arbitration Panel",
"Michael Imodu Institute Of Labour Studies",
"National Productivity Centre",
"National Directorate Of Employment",
"Geneva Labour Desk Office",
"Federal Ministry Of Science And Technology - Hqtrs",
"National Agency For Science And Engineering Infrastructures Hqtrs",
"Medical Equipment And Machinery Development Institute(Memdi), Obiozara - Ebonyi State",
"Oil & Gas Equipment And Machnery Development Institute (Ogemdi), Yenagoa - Bayelsa State",
"Chemical Equipment And Machinery Development Institute (Cemdi), Port Harcourt - Rivers State",
"Textile Equipment And Machinery Development Institute (Temdi), Sokoto - Sokoto State",
"Soild Menerals Machinery And Equipment Development Institute (Sommedi), Nasarawa - Nasarawa State",
"Agricultural Machinery Development Equipment Development Institute (Amedi) Mbutu, Aboh-Mbaise -Imo State",
"Heavy Equipment And Machinery Development Institute (Hemdi), Bauchi - Bauchi State",
"Sheda Science And Technology Complex - Abuja",
"Nigeria Natural Medicine Development Agency",
"National Space Research And Development Agency - Abuja",
"Centre For Atmospheric Research - Anyigba, Kogi State",
"Advanced Space Technology Application Laboratory Uyo Akwa Ibom State",
"Centre For Geodesy And Geodynamics - Toro Bauchi State",
"African Regional Centre For Space Education - Ile Ife, Osun State",
"Centre For Space Transport Propulsion - Epe, Lagos",
"Centre For Basic Space Science - Nsukka,",
"National Centre For Remote Sensing - Jos, Plateau State",
"Zonal Advance Technology Laboratory - Kano, Kano State",
"Advanced Aircraft Engineering Laboratory, Gusau - Zamfara State",
"Advanced Aerospace Engine Laboratory, Oka - Ondo State",
"Advanced Unmanned Aerial Laboratory, Uburu - Ebonyi State",
"Nasrda Institute Of Space Science & Engineering, Abuja",
"Zonal Advanced Space Technology Application, Kashere - Gombe State",
"Zonal Advance Space Technology Application, Ikwo - Ebonyi State",
"Zonal Advance Space Technology Application, Langtang , Plateau State",
"Cooperative Information Network",
"National Biotechnology Development Agency - Abuja",
"Bioresource Development Centre Abuja, Fct",
"Bioresource Development Centre Isanlu, Kogi State",
"Bioresource Development Centre Jalingo, Taraba State",
"Bioresource Development Centre Kaduna, Kaduna State",
"Bioresource Development Centre Katsina, Katsina State",
"Bioresource Development Centre Odi, Bayelsa State",
"Bioresource Development Centre Ogbomoso, Oyo State",
"Bioresource Development Centre Owode, Ogun State",
"Bioresource Development Centre Arochukwu, Abia State",
"Bioresource Development Centre Kano, Kano State",
"Bioresource Development Centre - Effraya, Cross River State",
"Aquatic Bioresources Training Centre Idah Kogi State",
"Aquatic Bioresources Training Centre Tunari Taraba State",
"Aquatic Bioresources Training Centre Adiabo Ikot Mbo Otu Cross River State",
"Bioresource Development Centre Dapchi, Yobe State",
"Bioresource Development Centre Dikwa Borno State",
"Bioresource Development Centre Biliri Gombe State",
"Bioresource Development Centre Chibok, Borno State",
"Bioresource Development Centre, Langtang Plateau State",
"Bioresource Development Centre Makurdi, Benue State",
"Bioresource Development Centre, Michika Adamawa State",
"Bioresource Development Centre, Ilorin Kwara State",
"Bioresource Development Centre, Abagana Anambra State",
"Bioresource Development Centre, Oka Akoko Ondo State",
"Bioresource Development Centre, Bogoro, Bauchi State",
"Bioresource Development Centre, Ubulu-Uku, Delta State",
"Bioresource Development Centre, Uburu Ebonyi State",
"Bioresources Development Centres, Okwudor - Imo State",
"Aquatic Bioresource Centre, Pategi - Kwara State",
"Aquatic Bioresources Development Centre, Ajagba - Ondo State",
"Bioresources Development Centre Jega Kebbi State",
"Bioresources Development Centre, Igede-Ekiti Ekiti State",
"Bioresources Development Centre Mgbowo, Enugu State",
"Bioresources Development Centre Ilesha, Osun State",
"Aquatic Bioresources Training Centre Demsa, Adamawa State",
"Aquatic Bioresources Training Centre Ohom-Orba,Enugu Istate",
"Aquatic Bioresources Training Centre Ilero, Oyo State",
"Aquatic Bioresources Training Centre Jengre Plateau State",
"Bioresources Developmaent Centre Abudu Edo State",
"Bioresources Development Centre In Ikot Ekpene,Akwa Ibom",
"Bioresources Development Centre, Ikeduru, Imo State",
"Aquatic Bioresources Development Centre, Epe, Lagos State",
"Livestock Bioresources Development Centre, Iwo, Osun State",
"Bioresources Development Centre, Soba District, Kaduna State",
"Board For Technology Business Incubator Centre - Abuja",
"Technology Incubation Centre, Gombe",
"Technology Incubation Centre, Katsina",
"Technology Incubation Centre, Lafia",
"Technology Incubation Centre, Lokoja",
"Technology Incubation Centre, Makurdi",
"North West Zonal Office, Kano",
"North East Zonal Office, Bauchi",
"North Central Zonal Office, Minna",
"South West Zonal Office, Lagos",
"South South Zonal Office, Benin",
"South East Zonal Office, Nnewi",
"Technology Business Incubator Centre - Agege",
"Technology Business Incubator Centre - Aba",
"Technology Business Incubator Centre - Kano",
"Technology Business Incubator Centre - Nnewi",
"Technology Business Incubator Centre - Calabar",
"Technology Business Incubator Centre - Minna",
"Technology Business Incubator Centre - Warri",
"Technology Business Incubator Centre - Maiduguri",
"Technology Business Incubator Centre - Gusau",
"Technology Business Incubator Centre - Sokoto",
"Technology Business Incubator Centre - Uyo",
"Technology Business Incubator Centre - B/ Kebbi",
"Technology Business Incubator Centre - Igbotako",
"Technology Business Incubator Centre - Bauchi",
"Technology Business Incubator Centre - Ibadan",
"Technology Business Incubator Centre - Benin",
"Technology Business Incubator Centre - Okwe Onuimo",
"Technology Business Incubator Centre - Abeokuta",
"Technology Business Incubator Centre - Yola",
"Technology Business Incubator Centre - Jos",
"Technology Business Incubator Centre - Yenegoa",
"National Centre For Genetic Research And Biotechnology - Ibadan",
"Electronics Development Institute (Eldi), Awka",
"National Centre For Technology Management, Hqtrs, Ile Ife",
"National Centre For Technology Management, Abuja",
"National Centre For Technology Management, Bayelsa",
"National Centre For Technology Management, Enugu",
"National Centre For Technology Management, Kano",
"National Centre For Technology Management, Yola",
"Regional Centre For Technonology Management (Nacetem - Lagos)",
"National Engineering Design And Development Centre -Nnewi",
"Africa Regional Centre For Space Science & Technology - Ile-Ife",
"Centre For Satellite Technology Development - Abuja",
"Centre For Space Transport And Propulsion, Epe-Lagos",
"Centre For Basic Space Science Nsukka Enugu State",
"Centre For Geodesy And Geodynamics Toro Bauchi",
"Nigerian Building And Road Research Institute - Lagos",
"Project Development Institute - Enugu",
"National Office Of Technology Acquisition And Promotion - Abuja",
"National Research Institute For Chemical Technology -Zaria",
"Nigerian Institute For Trypanosomiasis Research - Kaduna",
"Federal Institute Of Industrial Research -Oshodi",
"Federal Institute Of Industrial Research, Abuja Liason Office",
"Federal Institute Of Industrial Research, North West Zonal Office, Kano",
"Federal Institute Of Industrial Research, North East Zonal Office, Jimeta - Yola",
"Federal Institute Of Industrial Research, South West Zonal Office, Owode",
"Federal Institute Of Industrial Research, South South Zonal Office, Asaba",
"Federal Institute Of Industrial Research, South East Zonal Office, Enugu",
"Federal Institute Of Industrial Research, North Central Zonal Office, Langtang",
"Science Equipment Development Institute- Enugu",
"Hydraulic Equipment Research Institute - Kano",
"Engineering Materials Development Institute - Akure",
"Nigeria Institute Of Leather And Science Technology (Nilest) Hqtrs",
"Heavy Leather Manufacture Centre, Maiduguri",
"Light Leather Manufacture Centre, Sokoto",
"Raw Hides & Skin Improvement Centre, Jos",
"Effluent & Pollution Monitoring Centre, Kano",
"South-West Regional Cluster Research & Development Center, Abeokuta - Ogun State",
"South-East Regional Leather Research & Development Extension Center, Owerri - Imo State",
"South-South Regional Ward Base Leather Research & Development Extension Centre, Afuze - Edo State",
"Nigeria Institute For Science Laboratory Technology - Ibadan",
"Power Equipment And Electrical Machinery Development Centre - Okene",
"National Centre For Remote Sensing - Jos",
"Science Equipment Development Intitute - Minna",
"Technology Business Incubator Centre - Ilorin",
"Technology Business Incubator Centre - Taraba",
"Technology Business Incubator Centre - Kaduna",
"Prototype Engineering Development Institute , Ilesha",
"Advance Manufacturing Technology Programme, Taraba",
"Sokoto Energy Research",
"Centre For Energy Research And Development, Nsuka",
"National Centre For Energy Efficiency And Conservative,University Of Lagos.",
"National Centre For Hydropower Research And Development ,University Of Ilorin",
"National Centre For Energy And Environment ,University Of Benin",
"Technology Business Incubator - Enugu",
"Energy Commission Of Nigeria",
"National Centre For Petroleum Research And Development (Ncprd), Abubakar Tafawa Balewa University Bauchi",
"Centre For Adaptation Of Technology Awka",
"Technology Business Incubation Centre Ado-Ekiti",
"Technology Business Incubation Centre Ile-Ife",
"Raw Materials Research And Development Council",
"Nigerian Council Of Food Science And Technology",
"National Centre For Petroleum Research & Development Atbu, Bauchi",
"Federal Ministry Of Transport - Hqtrs",
"Nigerian Institute Of Transport Technology",
"Nigerian Railway Corporation",
"National Inland Waterways Authority",
"Maritime Academy, Oron",
"Council For The Regulation Of Freight Forwarding In Nigeria",
"Port Security",
"Nigeria Railways Hospitals",
"Nigeria Shipper Council",
"Nigeria Maritime Security And Administrative Agency",
"Presidential Implementation Committee On Maritime Safety Security (Picomss)",
"Nigeria Civil Aviation Authority, Ikeja, Lagos",
"Nigerian College Of Aviation Technology, Zaria",
"Nigerian Meteorological Agency",
"Federal Airport Authority Of Nigeria",
"Accident Investigation Bureau",
"Nigeria Airspace Management Agency",
"Federal Ministry Of Aviation",
"Nigerian Meteorological Agency",
"Nigerian College Of Aviation Technology-Zaria",
"Nigeria Airspace Management Agency",
"Federal Airport Authority Of Nigeria",
"Accident And Investigation Bureau",
"Federal Ministry Of Power -Hqtrs",
"Power Holding Company Of Nigeria",
"National Rural Electrification Agency",
"Nigerian Electricity Regulatory Commission",
"Nigerian Electricity Management Services Agency (Nemsa) Hqtrs",
"Service Wide Vote",
"Niger Delta Power Holding Company/National Integrated Power Project",
"Mambilla Hydro-Electric Power Project",
"National Power Training Institute",
"Nigeria Electricity Liability Management Limited",
"Egbin Power Plc",
"Kainji Hydro Electricity Plc",
"Jebba Hydro Electricity Plc",
"Sapele Electricity Plc",
"Shiroro Hydro Electricity Power Plant Plc",
"Geregu Power Plc",
"Omotosho Power Plc",
"Olorunshogo Power Plc",
"Transmission Company Of Nigeria",
"Abuja Electricity Distribution Plc",
"Benin Electricity Distribution Plc",
"Eko Electricity Distribution Plc",
"Enugu Electricity Distribution Plc",
"Ibadan Electricity Distribution Plc",
"Ikeja Electricity Distribution Plc",
"Jos Electricity Distribution Plc",
"Kaduna Electricity Distribution Plc",
"Kano Electricity Distribution Plc",
"Port Harcourt Electricity Distribution Plc",
"Yola Electricity Distribution Plc",
"Afam Electric Power Business Unit",
"Ughelli Power Plc",
"Nigerian Bulk Electricity Trading Plc",
"Office Of The Surveyor-General Of The Federation",
"Federal School Of Survey, Oyo",
"Federal Road Maintenance Agency",
"Council For The Regulation Of Engineering In Nigeria (Coren)",
"Survey Council Of Nigeria",
"Regional Centre For Training In Aerospace Survey",
"Urban Development Bank,",
"Federal Mortgage Bank Of Nigeria",
"Federal Housing Authority",
"Arcthitect Registration Board Of Nigeria-Arcon",
"Quantity Surveyors Registration Board Of Nigeria",
"Estate Surveyors And Valuers Registration Board",
"Council For The Registration Of Builders Of Nigeria",
"Town Planners Registration Council",
"Ministry Of Petroleum Resources Hqtrs",
"Department Of Petroleum Resources",
"Petroleum Training Institute",
"Petroleum Technology Development Fund Hqtrs",
"Petroleum Equalization Fund",
"Petroleum Resources (Gas Sector)",
"Nigeria Content Development And Monitoring Board",
"Petroleum Products Pricing Regulatory Agency (Ppra)",
"Nigeria Nuclear Regulatory Authority",
"Ministry Of Mines And Steel Development- Hqtrs",
"Council Of Nigerian Mining Engineers And Geosciences",
"Nigerian Geological Survey Agency.",
"National Steel Raw Materials Exploration Agency, Kaduna",
"National Metallurgical Development Centre, Jos",
"Metallurgical Training Institute, Onitsha",
"African Iron And Steel Association",
"National Iron Ore Mining Project - Itakpe",
"Nigeria Institute Of Mining And Geoscience",
"Nigeria Mining Cadastre Office & Centres",
"Ajaokuta Steel Company Limited",
"Solid Mineral Development Fund Office",
"Federal Ministry Of Works And Housing",
"Office Of The Surveyor-General Of The Federation",
"Federal School Of Survey, Oyo",
"Federal Road Maintenance Agency",
"Road Sector Deveopment Team (Rsdt)",
"Road Sector Development Team",
"Council For The Regulation Of Engineering In Nigeria (Coren)",
"Survey Council Of Nigeria",
"Regional Centre For Training In Aerospace Survey",
"Federal Ministry Of Tourism, Culture & National Orientation - Hqtrs",
"Nigerian Tourism Development Corporation",
"National Commission For Museums And Monuments",
"National Council Of Arts And Culture",
"Centre For Black African Arts And Civilisation",
"National Troupe Of Nigeria",
"National Theatre",
"National Gallery Of Art",
"National War Museum - Umuahia",
"National Inst. Of Hospitality And Tourism Development Studies",
"National Institute For Culture Orientation",
"Institute Of Archeology And Museum Studies- Jos",
"National Orientation Agency",
"Ministry Of Budget And National Planning Hqtrs",
"Nigeria Insitute For Social And Economic Research",
"Centre For Management Development",
"National Bureau Of Statistics",
"Budget Office Of The Federation",
"Service Wide Vote",
"Service Wide Vote",
"National Salaries, Incomes And Wages Commission",
"Revenue Mobilization, Allocation, And Fiscal Commission",
"Fiscal Responsilibity Commission",
"Federal Ministry Of Water Resources - Hqtrs",
"Nigeria Hydrological Service Agency",
"Anambra/ Imo Rbda",
"Benin/ Owena Rbda",
"Chad Basin Rbda",
"Cross River Rbda",
"Hadejia-Jamaã?Â»Are Rbda",
"Lower Benue Rbda",
"Lower Niger Rbda",
"Niger Delta Rbda",
"Ogun/ Osun Rbda",
"Sokoto Rima Rbda",
"Upper Benue Rbda",
"Upper Niger Rbda",
"National Water Resources Institute- Kaduna",
"Nigeria Integrated Water Management Commission",
"Gurara Water Management Authority",
"Federal Ministry Of Lands, Housing & Urban Development - Hqtrs",
"Urban Development Bank",
"Federal Mortgage Bank Of Nigeria",
"Federal Housing Authority",
"Arcthitect Registration Board Of Niegria -Arcon",
"Quantity Surveyors Registration Board Of Nig",
"Estate Surveyors And Valuers Registration Board",
"Council For The Registration Of Builders Of Nig",
"Town Planners Registration Council"],
    "Law & Justice": ["National Judicial Council- Abuja",
"Supreme Court Of Nigeria",
"Court Of Appeal",
"Federal High Court Hqtrs Abuja",
"High Court Of Justice ? F.C.T. Abuja",
"Sharia Court Of Appeal ? Abuja",
"Customary Court Of Appeal- Abuja",
"National Industrial Court",
"National Judicial Institute- Abuja",
"Judiciary Service Committee- F.C.T. Abuja",
"Federal Judiciary Service Commission- Abuja",
"Body Of Benchers",
"Federal Ministry Of Justice - Hqtrs",
"Nigerian Law Reform Commission",
"Legal Aid Council",
"Council Of Legal Education",
"Nigeria Institute Of Advanced Legal Studies",
"Nigerian Law School",
"National Human Rights Commission",
"Regional Centre For Int'l Commercial Arbitration",
"National Drug Law Enforcement Agency",
"Nigerian Copyright Commission",
"National Agency For The Prohibition Of Traffic In Persons",
"Independent Corrupt Practices And Related Offences Commission",
"Code Of Conduct Bureau"],


	"Regional Sector": ["Federal Capital Territory Administration",
"Federal Ministry Of Niger Delta Hqtrs",
"Niger Delta Development Commission",
"North East Development Commission"],



	"Social Sector": ["Federal Ministry Of Youth & Sports Development - Hqtrs",
"Citizenship And Leadership Training Centre",
"National Youth Service Corps (Nysc)",
"Nigeria Football Federation",
"Nigeria Institute For Sports (Nis)",
"Federal Ministry Of Women Affairs - Hqtrs",
"National Centre For Women Development",
"Federal Ministry Of Education - Hqtrs",
"Tertiary Education Trust Fund",
"Universal Basic Education (Ube) Commission",
"West African Examination Council (International)",
"Joint Admissions Matriculation Board",
"West African Examination Council (Local)",
"National Institute For Education Planning & Administration",
"National Library Of Nigeria",
"National Examinations Council",
"Mass Literacy Council",
"Nomadic Education Commission",
"National Education Research & Development Council",
"National Business And Technical Education Board",
"Teachers Registration Council Of Nigeria",
"Computer Registration Council Of Nigeria",
"National Commission For College Education Secretariat",
"National Teachers Institute",
"Federal Polytechnic Ado-Ekiti",
"Federal Polytechnic Bauchi",
"Federal Polytechnic Bida",
"Federal Polytechnic Idah",
"Federal Polytechnic Kaura-Namoda",
"Federal Polytechnic Mubi",
"Federal Polytechnic Nasarawa",
"Akanu Ibiam Federal Polytechnic, Unwana - Afikpo",
"Federal Polytechnic Kaduna",
"Federal Polytechnic Offa",
"Federal Polytechnic Ede",
"Federal Polytechnic Auchi",
"Federal Polytechnic Nekede",
"Federal Polytechnic Oko",
"Federal Polytechnic Damaturu",
"Federal Polytechnic Hussaini Adamu",
"Federal Polytechnic Gwandu",
"Federal Polytechnic Ilaro",
"Yaba College Of Technology",
"Federal Polytechnic Bali",
"Federal Polytechnic Ekowe",
"Federal Polytechnic Bonny",
"Federal Polytechnic Ukana",
"National Institute For Construction Technology Uromi, Edo State",
"Federal Polytechnic, Ile-Oluji, Ondo State",
"Federal Polytectnic Daura, Darua, Katsina State",
"Federal Polytechnic Kaltungo, Kaltungo, Gombe State",
"Federal Polytechnic Ayede, Oyo State",
"Federal College Of Education Abeokuta",
"Federal College Of Education Akoka",
"Federal College Of Education Asaba",
"Federal College Of Education Bichi",
"Federal College Of Education Gombe",
"Federal College Of Education Gusau",
"Federal College Of Education Kano",
"Federal College Of Education Katsina",
"Federal College Of Education Kotangora",
"Federal College Of Education Obudu",
"Federal College Of Education Okene",
"Federal College Of Education Omuku",
"Federal College Of Education Ondo",
"Federal College Of Education Oyo",
"Federal College Of Education Pankshin",
"Federal College Of Education Potiskum",
"Federal College Of Education Umunze",
"Federal College Of Education Yola",
"Federal College Of Education Zaria",
"Federal College Of Education Eha-Amufu",
"Alvan Ikoku College Of Education, Owerri",
"Federal College Of Education Gidan Madi, Sokoto",
"Federal College Of Education Jama'are, Bauchi State",
"Federal College Of Education Odugbo, Benue State",
"Federal College Of Education Isu, Ebonyi State",
"Federal College Of Education Iwo, Osun State",
"Federal College Of Education Ekiadolor, Edo State",
"National Universities Commission Secretariat",
"University Of Ibadan",
"University Of Lagos",
"University Of Nigeria, Nnsuka",
"Ahmadu Bello University, Zaria",
"Obafemi Awolowo University",
"University Of Benin",
"University Of Jos",
"University Of Calabar",
"University Of Ilorin",
"University Of Abuja",
"University Of Agriculture, Abeokuta",
"University Of Agriculture, Makurdi",
"Michael Okpara University Of Agriculture, Umudike",
"University Of Port Harcourt",
"Abubakar Tafawa Balewa University, Bauchi",
"University Of Technology, Owerri",
"Federal University Of Technology, Akure",
"Federal University Of Technology, Minna",
"Federal University Of Technology, Yola",
"University Of Uyo",
"University Of Maiduguri",
"Nnamdi Azikiwe University, Awka",
"Bayero University, Kano",
"Usman Dan Fodio University, Sokoto",
"National Mathematical Centre, Sheda",
"French Language Village Badagary, Lagos",
"Arabic Language Village Borno",
"National Institue For Nigerian Languages",
"Federal University Oye-Ekiti",
"Federal University Otuoke",
"Federal University Dutse",
"Alex Ekwueme Federal University Ndufu Alike Ikwo",
"Federal University Lafia",
"Federal University Dutsin-Ma",
"Federal University Kashere",
"Federal University Lokoja",
"Federal University Wukari",
"Federal Universityof Bernin Kebbi",
"Federal Universityof Gashua",
"Federal Universityof Gusau",
"Alex Ekwueme Federal University Ndufu Alike Ikwo",
"Nigeria Maritime University, Okerenkoko",
"International Centre For Biotechnology, University Of Nigeria Nsukka,Enugu State",
"Nigerian Army University Biu",
"Federal University Of Agriculture Zuru, Kebbi State",
"Federal University Of Health Sciences, Otukpo, Benue State",
"Division Of Agricultural College, Abu Zaria",
"Federal University Of Petroleum Resources, Effurun",
"National Open University",
"Committee Of Vice Chancellors",
"F.S.C. Sokoto",
"Fgc Azare",
"Fgc Buni-Yadi",
"Fgc Birin Yauri",
"Fgc Daura",
"Fgc Ganye",
"Fgc Garki",
"Fgc Ijanikin",
"Fgc Iket Nise",
"Fgc Iket Vandakya",
"Fgc Ikom",
"Fgc Ikot Ekpene",
"Fgc Ikurin",
"Fgc Jos",
"Fgc Kaduna",
"Fgc Kano",
"Fgc Keffi",
"Fgc Kiyawa",
"Fgc Kwali",
"Fgc Maiduguri",
"Fgc Minjibir",
"Fgc Minna",
"Fgc Odikologuna",
"Fgc Odogbolu",
"Fgc Ogbomoshmo",
"Fgc Ogoja",
"Fgc Ohafia",
"Fgc Okigwe",
"Fgc Okposi",
"Fgc Onitsha",
"Fgc Port Harcourt",
"Fgc Potiskum",
"Fgc Rubbochi",
"Fgc Sokoto",
"Fgc Ugwolawo",
"Fgc Warri",
"Fgc Zaria",
"Fgc, Billiri",
"Fgc, Ido-Ani",
"Fgc, Ikole",
"Fggc Abaji",
"Fggc Abuloma",
"Fggc Akure",
"Fggc Anka",
"Fggc Bajoga",
"Fggc Bakori",
"Fggc Bauchi",
"Fggc Benin",
"Fggc Bida",
"Fggc Bwari",
"Fggc Calabar",
"Fggc Efon Alaye",
"Fggc Efon Imnringi",
"Fggc Enugu",
"Fggc Ezzamgbo Abakaliki",
"Fggc Gboko",
"Fggc Gusau",
"Fggc Gwandu",
"Fggc Ibillo",
"Fggc Ibusa",
"Fggc Ikot-Obio-Itong",
"Fggc Ilorin",
"Fggc Ipetumodu",
"Fggc Jalingo",
"Fggc Kabba",
"Fggc Kazaure",
"Fggc Keana",
"Fggc Langtang",
"Fggc Lejja",
"Fggc Monguno",
"Fggc New Busa",
"Fggc Omu-Aran",
"Fggc Owerri",
"Fggc Oyo",
"Fggc Shagamu",
"Fggc Gumi Tambawal",
"Fggc Umuahia",
"Fggc Wukari",
"Fggc, Yola",
"Fstc Ahoada",
"Fstc Awka",
"Fstc Jubu-Imushin",
"Fstc Michika",
"Fstc Tungbo - Yenagoa",
"Fstc Usi-Ekiti",
"Ftc Ikare",
"Ftc Ilesa",
"Ftc Jalingo",
"Ftc Kafanchan",
"Ftc Lassa",
"Ftc Ohanso",
"Ftc Orozo",
"Ftc Otobi",
"Ftc Otupko",
"Ftc Shiroro",
"Ftc Uromi",
"Ftc Uyo",
"Ftc Yaba",
"Ftc Zuru",
"King's College",
"Queen's College Lagos",
"Suleja Academy",
"Fstc,Doma",
"Fstc Dayi",
"Fstc, Ogugu Town, Kogi State",
"Fstc, Hadejia-Kirikasamma Road, Jigawa State",
"Fstc Oguta Town, Imo State",
"Fstc Igangan Town, Oyo State",
"Fstc Ganduje Town, Kano State",
"Fstc Amuzu Town, Ebonyi State",
"Librarians Registration Council Of Nigeria",
"Unesco Paris",
"National Board For Technical Education",
"National Board For Arabic And Islamic Studies (Nbais) Hqtrs",
"National Senior Secondary Education Commission (Nssec)",
"Federal Ministry Of Health - Hqtrs",
"National Blood Transfusion Service (Nbts)",
"National Health Insurance Scheme",
"National Primary Health Care Development Agency",
"National Programme On Immunization",
"National Arbovirus And Vector Research",
"Radiographers Registration Board",
"Dental Technology Registration Board",
"Health Records Registration Board",
"Optometrist And Dispensing Opticians Board Of Nigeria",
"Community Health Practitoners Registration Board",
"Nursing And Midwifery Council",
"Pharmacist Council Of Nigeria Council",
"Medical And Dental Council Of Nigeria",
"National Agency For Food And Drug Administration And Control",
"Medical Rehabilitation Therapy Board",
"Federal College Of Dental Technology And Therapy, Enugu",
"Environmental Health Officers Tutors-Ibadan",
"Nurse Tutor Training - Enugu",
"Nurse Tutor Programme Akoka Lagos",
"Nurse Tutor Trainning Kaduna",
"Nurse Tutor Trainning Ibadan",
"National Post Graduate Medical College Of Nigeria-Ijanikin Lagos",
"Nhetc, Lagos",
"Nhetc, Maiduguri",
"Nhetc, Zaria",
"Nhetc, Enugu",
"Phc Tutors Programme,'Uch-Ibadan",
"Phc Tutors Programme,Kaduna Polytechnic",
"Community Health Tutor Programme Uch",
"University College Hospital Ibadan",
"Lagos University Teaching Hospital",
"Ahmadu Bello University Teaching Hospital",
"University Of Nigeria Teaching Hospital, Enugu",
"University Of Benin Teaching Hospital",
"Obafemi Awolowo University Teaching Hospital",
"University Of Ilorin Teaching Hospital, Ilorin",
"Jos University Teaching Hospital",
"University Of Port-Harcourt Teaching Hospital",
"University Of Calabar Teaching Hospital",
"University Of Maiduguri Teaching Hospital",
"Usmanu Danfodio University Teaching Hospital, Sokoto",
"Aminu Kano University Teaching Hospital",
"Nnamdi Azikiwe University Teaching Hospital, Nnewi",
"University Of Abuja Teaching Hospital, Gwagwalada",
"Abubakar Tafawa Balewa University Teaching Hospital Bauchi",
"Federal Teaching Hospital, Abakaliki",
"Federal Teaching Hospital, Gombe",
"Federal Teaching Hospital, Ido-Ekiti",
"Irrua Specialist Teaching Hospital, Irrua - Edo State",
"Irrua Specialist Teaching Hospital, Irrua",
"University Of Uyo Teaching Hospital",
"Federal Medical Centre - Abuja",
"Federal Psychiatric Hospital Enugu",
"Federal Psychiatric Hospital Kaduna",
"Federal Psychiatric Hospital Calabar",
"Federal Psychiatric Hospital Maiduguri",
"Federal Neuro-Psychiatric Hospital, Kware-Sokoto",
"Federal Neuro-Psychiatric Hospital Yaba",
"Federal Neuro-Psychiatric Hospital Abeokuta",
"Federal College Of Complementary And Alternative Medicine, Nigeria",
"Federal Psychiatric Hospital Benin City",
"National Orthopaedic Hospital Lagos",
"National Orthopaedic Hospital Dala Kano",
"National Orthopaedic Hospital Enugu",
"National Tb And Leprosy Referred Hospital And Training, Zaria",
"Federal Medical Centre, Umuahia",
"Federal Medical Centre, Owo",
"Federal Medical Centre Abeokuta",
"Federal Medical Centre, Owerri",
"Federal Medical Centre, Makurdi",
"Federal Medical Centre, Katsina",
"Federal Medical Centre, Gombe",
"Federal Medical Centre, Nguru Yobe",
"Federal Medical Centre, Asaba",
"Federal Medical Centre, Bida",
"Federal Medical Centre, Gusau Zamfara",
"Federal Medical Centre, Yola Adamawa",
"Federal Medical Centre, Abakaliki",
"Federal Medical Centres, Ido-Ekiti",
"Federal Medical Centre, Kogi",
"Federal Medical Centre, Azare Bauchi",
"Federal Medical Centre, Kebbi State",
"Federal Medical Centre, Taraba State",
"Federal Medical Centre, Jigawa State",
"Federal Medical Centre, Nasarawa State",
"Federal Medical Centre, Bayelsa State",
"Federal Medical Centre, Ebute Metta",
"National Eye Centre Kaduna",
"National Ear Care Centre Kaduna",
"Intercountry Centre For Oral Health Jos",
"Federal School Of Medical Laboratory Jos",
"Oncho Bauchi",
"Oncho Enugu",
"Oncho Ibadan",
"Oncho Kaduna",
"Nigeria Centre For Disease Control Abuja",
"Federal Staff Clinics, Abuja Phase I",
"Federal Staff Clinics, Abuja Phase Ii",
"Federal Staff Clinics, Lagos",
"Federal Staff Clinics, Enugu",
"Federal Staff Clinics, Ibadan",
"Federal Staff Clinics, Abeokuta",
"Federal Staff Clinics, Port-Harcourt",
"Federal Staff Clinics, Jos",
"Federal Staff Clinics, Maiduguri",
"Federal Staff Clinics, Ilorin",
"Federal Staff Clinics, Kaduna",
"Federal Staff Clinics, Kano",
"Fed. Staff Clinic Damaturu",
"Fed. Staff Clinic Dutse",
"Fed. Staff Clinic Umuahia",
"Fed. Staff Clinic Katsina",
"Fed. Staff Clinic Makurdi",
"Fed. Staff Clinic Asaba",
"Fed. Staff Clinic Yola",
"Fed. Staff Clinic Uyo",
"Fed. Staff Clinic Abakaliki",
"Federal Staff Clinics, Owerri",
"Federal Staff Clinics, Calabar",
"Federal Staff Clinics, Benin City",
"Federal Staff Clinics, Sokoto",
"Federal Staff Clinics, Awka",
"Federal Staff Clinics, Akure",
"Federal Staff Eye Clinics, Abuja",
"Federal Staff Dental Clinics, Abuja",
"Federal Staff Dental Clinics, Lagos",
"Federal Staff Clinics, Gwarinpa, Abuja",
"Phs, Abuja",
"Phs, Yola",
"Phs, Jalingo",
"Phs, Maiduguri",
"Phs, Damaturu",
"Phs, Kano",
"Phs, Kastina",
"Phs, Dutse",
"Phs, Ilorin",
"Phs, Sokoto",
"Phs, Ibadan",
"Phs, Abeokuta",
"Phs, Port-Harcourt(Bonny, Brass, Onne, Airport And Wharf)",
"Phs, Calabar",
"Phs, Lagos, Ikeja, Tincan, Apapa, Idiroko.",
"Phs, Warri",
"Institute Of Child Health (Luth) Lagos",
"Institute Of Child Health (Ubth) Benin",
"Institute Of Child Health (Uch) Ibadan",
"Institute Of Child Health (Abuth) Zaria",
"Institute Of Child Health (Enugu) Enugu",
"National Inst. Of Pharm. Research And Development, Abuja",
"Nigerian Institute Of Medical Research, Yaba",
"Institute Of Public Analysts Of Nigeria",
"Medical Lab. Science Council Of Nigeria, Yaba",
"Federal School Of Occupational Therapy, Yaba",
"Noma Children Hospital, Sokoto",
"Institute Of Chartered Chemists Of Nigeria",
"Institute Of Forensics Science Laboratory-Oshodi",
"Dental Therapists Registration Board",
"National Blood Transfusion Service",
"Board Of Orthopaedic Hospital",
"Board Of Psychiatric Hospital",
"Federal College Of Orthopaedic Technology Igbobi Lagos",
"Federal College Of Orthopaedic Technology Igbobi Lagos",
"Federal School Of Physiotheraphy - Kano",
"National Health Equipment Training Centres - Enugu",
"National Health Equipment Training Centres -Zaria",
"National Blood Transfusion Service(Nbts)",
"National Obstetric Fitsula Centre, Abakaliki",
"National Obstetric Fistula Centre Bauchi",
"National Obstetric Fistula Centre Katsina",
"National Hospital",
"Basic Health Care Fund",
"Federal Ministry Of Environment Headquarters",
"National Park Headquarters",
"Kainji National Park",
"Oyo National Park",
"Chad Basin National Park",
"Gashaka Gumti National Park",
"Cross River National Park",
"Kamuku National Park",
"Okumu National Park",
"Federal College Of Wildlife Management - New Bussa",
"Federal College Of Forestry Ibadan",
"Federal College Of Forestry Jos",
"Federal College Of Forest Resources Management",
"Federal College Of Forest Resources Management, Sakpoba, Edo State (South -South)",
"Federal College Of Forest Resources Management, Maiduguri, Borno State (North East)",
"Federal College Of Forest Resources Management, Ebonyi State (South -East)",
"Forestry Research Institute Of Ibadan",
"Forestry Mechanisation College Afaka",
"National Oil Spill Detection And Response Agency",
"National Environmental Standards And Regulations Enforcement Agency",
"Environmental Health Registration Council Of Nigeria",
"Special Climate Change Unit",
"Yankari National Park",
"Nag National Parks",
"National Agency For Great Green Wall Hqtrs",
"National Biosafety Management Agency (Nbma) Hqtrs",
"Biosafety Centre Lagos",
"Biosafety Centre Kano",
"Biosafety Centre Delta State",
"Presidency - National Sports Commission - Hqtrs",
"Nigeria Football Association",
"Nigeria Institute For Sports (Nis)",
"National Population Commission",
"Ministry Of Humanitarian Affairs, Disaster Management And Social Development",
"National Emergency Management Agency",
"National Social Investment Office",
"North East Development Commission",
"National Commission For Refugees",
"National Agency For The Prohibition Of Trafficking In Persons",
"National Agency For The Prohibition Of Traffic In Persons",
"National Commission For Persons With Disability",
"Office Of The Senior Special Assistant To The President Mdg (Ossap-Mdgs)"]
  },

  }

  window.onload = function() {
  var orgSel = document.getElementById("org");
  var filterSel = document.getElementById("filter");
  var mdaSel = document.getElementById("mda");
  for (var x in orgObject) {
    orgSel.options[orgSel.options.length] = new Option(x, x);
  }
  orgSel.onchange = function() {
    //empty mdas- and filters- dropdowns
    mdaSel.length = 1;
    filterSel.length = 1;
    //display correct values
    for (var y in orgObject[this.value]) {
      filterSel.options[filterSel.options.length] = new Option(y, y);
    }
  }
  filterSel.onchange = function() {
 //empty mdas dropdown
 mdaSel.length = 1;
    //display correct values
    var z = orgObject[orgSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      mdaSel.options[mdaSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
</script>
</head>
<body>


<h2>Group By Segment</h2>

<form>

    <label for="year">Year:</label><br>
    <input type="month" id="mth" Month "fname"><br>
    <br><br>

    Segment: <select name="org" id="org">
    <option value="" selected="selected">Select Organization</option>
</select>
    <br><br>
    Level: <select name="filter" id="filter">
    <option value="" selected="selected">Select Segment</option>
</select>
    <br><br>
    MDA: <select name="mda" id="mda">
    <option value="" selected="selected">Select MDA</option>
</select>
    <br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>